    <div class="page-header" style="background-image:url('/images/devnode_slider_3.jpg');">
      <div class="page-header-text" style="text-align: left; padding-left: 30px;">
        <h2>Where Developers and Ideas Intersect.</h2>
        <h4>Are you a developer looking for open source projects to work on?</h4>
        <h4>Have an idea and looking for passionate developers to realize your vision?</h4>
      </div>
    </div>

    <div class="container main-container">

    </div>


    <script>
    $('.carousel').carousel({
        interval: 4000,
        pause: "none" 
    })
    </script>