/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$font: 'Roboto Condensed', sans-serif;
$green: #5aa02c;
$blue: #329BC2; 
$grid-float-breakpoint: 1000px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "projects";
@import "full-slider";
@import "users";

// Paragraph and header styles

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
}

.page-header-text h1 {
  font-size: 6em;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.page-header-text h2 {
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.page-header-text h3 {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.feature-box h2, .feature-box h5 {
  margin: 5px;
  font-weight: bold;
}

.feature-box p {
  margin: 5px;
  font-size: 1.2em;
}

//Link styles

a {
  color: $green;
  &:hover {
    transition: all .4s ease-in-out;
    color: darken($green, 20%);
    text-decoration: none;
  }
}

.navbar-nav li a:visited,
.navbar-nav li a {
  color: black;
  font-family: $font;
  font-size: 1.3em;
  padding-top: 22px;
  padding-bottom: 0px;
  &:hover {
    background-color: transparent;
    transition: all .4s ease-in-out;
    color: $green !important;
  }
}

// Page element styles

hr {  
  border-bottom: 1px dotted $green;
}

.page-header {
  margin: 0px;
  min-height: 400px;
  overflow: auto;
}

.page-header-text {
  margin-top: 200px;
  text-align: center;
  width: 100%;
}

.page-container {
  margin-top: 50px;
}

#flash-message {
  position: absolute;
  text-align: center;
  left: 40%;
  top: 100px;
  min-width: 300px;
  background-color: white;
  color: black;
  border: 1px solid black;
  z-index: 1000;
}

footer {
  color: $green;
  text-align: center;
  font-weight: 700;
}

//Navbar styles

#devnode-nav {
  background-color: white;
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.7));
  border: none;
}

.dropdown-menu {
  background-color: white;
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.7));
  border: none; 
}

.navbar-form {
  padding-top: 9px;
  padding-bottom: 0px;
}

.navbar-form input {
  font-size: 1.3em;
  border: none;
  background: transparent;
  border-bottom: 2px solid grey;
}

.navbar {
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: white;
  vertical-align: bottom;
}

#logo-image {
  height: 40px;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-right: 25px;
  margin-left: 10px;
}

//Featured page elements

.feature-box {
  // background-color: #ececec;
  border: 1px solid black;
  border-radius: 7px;
  float: left;
  margin: 30px;
  // width: 230px;
}

.bottom-feature-box {
  color: black;
  border-top: 1px black solid;
  margin-bottom: 0px;
  padding-top: 1px;
  border-radius: 0px 0px 7px 7px;
}

.feature-img {
  width: 300px;
  margin-bottom: 5px;
  border-radius: 7px 7px 0px 0px;
}

//Form Styles

.form-container {
  margin-left: 10%;
  textarea {
    width: 60%;
    height: 150px;
    border: 2px dotted $green;
  }
  input {
    border: none;
    border-bottom: 2px solid $green;
    width: 40%;
  }
  input[type=submit] {
    border: none;
  }
  h3 {
    color: $green;
  } 
}

.form-header {
  overflow: auto;
  width: 70%;
}