/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$grid-float-breakpoint: 1000px;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "projects";

$font: 'Droid Sans', sans-serif;
$green: #5aa02c;
$blue: #329BC2;

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
}

.navbar-form {
  padding-top: 9px;
  padding-bottom: 0px;
}

.navbar-form input {
  font-size: 1.3em;
  border: none;
}

.main-container {
  margin-top: 50px;
}

#logo-image {
  height: 40px;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-right: 25px;
  margin-left: 10px;
}

.navbar {
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: white;
  vertical-align: bottom;
}

.navbar-nav li a:visited,
.navbar-nav li a {
  color: black;
  font-family: $font;
  font-size: 1.3em;
  padding-top: 22px;
  padding-bottom: 0px;
}

.navbar-nav li a:hover {
  background-color: transparent;
  transition: all .4s ease-in-out;
  color: $green !important;
}