// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-image {
	width: 100%;
	border-radius: 5px;
}

.my_panel {
	margin-top: 3%;
}

.profile-box{
	border: 2px solid black;
	padding: 2%;
	width: 300px;
	border-radius: 5px;
	float: left;
	&:a {
		font-size: 1.3em;
	}
}

.bio{
	width: 70%;
	float: right;
	margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  .bio {
    float: none;
    padding-top: 30px;
    margin-left: 10px;
    clear: both;
    width: auto;
  }
  .profile-image {
		height: 250px;
		width: auto;
		float: left;
		border-radius: 5px;
		margin-right: 40px;
	}
	.profile-box {
		width: 100%;
	}	
	float: left;
	max-width: 50%;
	margin-left: 30%;
}