// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: 'Droid Sans', sans-serif;
$green: #5aa02c;
$blue: #4891DC;
$dark_green: #0E260B;
$white_opaque: rgba(255, 255, 255, 0.7);

#tag_cloud {
	margin-top: 3%;
	margin-bottom: 3%;
}

.tag_button {
	color: black;
	background-color: $white_opaque;
	box-shadow: 2px 2px 2px black;
	border: 2px solid $white_opaque;
	width: 150px;
	line-height: 1.6em;
	font-size: 1.4em;
	margin-right: 1%;
	transition: all, .4s, ease-in-out;
	&:hover{
		background-color: $green;
		color: white;
	}
}

.project-box {
	display: inline;
	background-color: #ececec;
  border: 1px solid #d5d5d5;
  border-radius: 7px;
  margin: 10px;
  width: 100%;
  float: left;
  min-height: 200px;
}

.vote-group {
	display: block;
	max-width: 50px;
	float: left;
	margin-top: 54px;
}

.vote-button {
	text-align:center;
	font-size: 1.4em;
	max-width: 20px;
}

.vote-button span {
	font-size: 1.2em;
}

.project-main {
	float: left;
	padding-left: 3%;
	max-width: 90%;
	p {
		margin: 0;
	}
}

.project-header {
	margin-top: 60px;
}

.project-bottom {
	display: inline;
	p {
		float: left;
		padding-right: 5%;
		padding-top: 2%;
		min-width: 150px;
		i {
			padding-right: 1%;
		}
	}
}

// PAGE CSS

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}

.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em; 
}
  
.flickr_pagination .disabled {
  color: #aaaaaa; 
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084; 
}

.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none; 
}
  
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white; }

// .flickr_pagination .page_info {
//   color: #aaaaaa;
//   padding-top: 0.8em; 
// }

.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; 
}

.flickr_pagination .previous_page {
  margin-right: 1em; 
}

.flickr_pagination .next_page {
  margin-left: 1em; 
}